# 2026-06-12
github.com###issue-viewer-sticky-header
# 2026-05-05
youtube.com##.ytp-ce-element
# 2026-05-03
nytimes.com###dock-container
# 2026-04-12
theguardian.com##aside
theguardian.com##iframe
# 2026-04-06
atlassian.net##[data-testid="issue-ai-agent-sessions.ui.rovo-dev-create-session-panel.container"]
# 2026-03-18
discord.com##span:has-text(/^Promoted$/):upward(3)
# 2026-03-11
github.com###notification-shelf
# 2026-02-23
youtube.com###video-preview
youtube.com##ytd-reel-shelf-renderer
# 2026-01-10
discord.com##div[role="listitem"]:has(h3)
# 2026-01-03
# youtube.com###dismissible
youtube.com##ytd-rich-section-renderer
# 2025-12-24
atlassian.net##[testid="servicedesk-smart-request-summary.ui.ai-container"]
# 2025-12-07
discord.com##[aria-label="Message Actions"][role="group"]
# 2025-11-20
github.com##.copilotPreview__container
# 2025-11-18
atlassian.net##[testid="issue-smart-request-summary.ui.ai-container"]
# 2025-10-21
google.com##div[data-mcp]
youtube.com##.ytp-overlays-container
youtube.com##[is-shorts]
