* * 3p-script block
# 2026-07-20
# amazon.com
# tiktok.com
* akamai.net * noop
# 2026-07-17
microsoftonline.com t-msedge.net * noop
# 2026-07-12
protonvpn.com chargebee.com * noop
uptodown.com utdstc.com * noop
# 2026-07-05
cloud.microsoft akamaitech.net * noop
# 2026-07-04
anythingllm.com framerusercontent.com * noop
# 2026-07-03
gog.com gog-statics.com * noop
# 2026-07-01
doordash.com cdn4dd.com * noop
# 2026-06-16
# cbs12.com
# wgxa.tv
* sinclairstoryline.com * noop
# 2026-06-16
wgxa.tv tradehouse.media * noop
# 2026-06-14
jsonformatter.org googleapis.com * noop
# 2026-06-08
mcdonalds.com scene7.com * noop
# 2026-06-06
reelgood.com rgstatic.com * noop
# 2026-06-03
# amazon.com
# primevideo.com
* aiv-cdn.net * noop
# 2026-06-03
# cbs12.com
# playstation.com
* youtube.com * noop
# 2026-05-31
# amcplus.com
# sharesub.com
* stripe.com * noop
# 2026-05-31
amcplus.com amazonaws.com * noop
reddit.com devvit.net * noop
# 2026-05-30
bnonews.com x.com * noop
# 2026-05-29
walmart.com walmartimages.com * noop
# 2026-05-28
liveatlascolinasheights.com entrata.com * noop
# 2026-05-28
# cloud.microsoft
# sharepoint.com
* edgesuite.net * noop
# 2026-05-27
letterboxd.com ltrbxd.com * noop
x.com twimg.com * noop
# 2026-05-25
coca-cola.com dotter.me * noop
davidyurman.com cquotient.com * noop
# 2026-05-23
# abcnews.com
# disneyplus.com
* bamgrid.com * noop
# 2026-05-22
cnn.com cnn.io * noop
# 2026-05-13
ebay.com paywithmybank.com * noop
microsoftonline.com msftauth.net * noop
# 2026-05-08
ndtv.com ampproject.org * noop
# 2026-05-02
apnews.com ap.org * noop
# 2026-04-29
# aiaiai.audio
# canalplus.cz
* adyen.com * noop
# 2026-04-28
crave.ca 9c9media.ca * noop
# 2026-04-27
amazon.com awsglobalaccelerator.com * noop
amazon.com awsstatic.com * noop
# 2026-04-19
tomshardware.com futurecdn.net * noop
# 2026-04-17
# opensource.google
# youtube.com
* google.com * noop
# 2026-04-17
# google.com
# opensource.google
* gstatic.com * noop
# 2026-04-16
# instagram.com
# nme.com
* cdninstagram.com * noop
# 2026-04-07
thedailybeast.com jifo.co * noop
# 2026-04-07
# fox35orlando.com
# fox9.com
* digitalvideoplatform.com * noop
# 2026-04-06
wsmv.com arcpublishing.com * noop
# 2026-04-05
apkpure.com apkpures.xyz * noop
oldflix.com.br vindi.com.br * noop
# 2026-04-05
# bsky.app
# oldflix.com.br
* b-cdn.net * noop
# 2026-04-05
# discountpowertx.com
# paypal.com
* cloudflare.net * noop
# 2026-04-04
# huggingface.co
# imdb.com
* awswaf.com * noop
# 2026-03-30
espn.com espn.net * noop
# 2026-03-30
# independent.co.uk
# the-independent.com
* primis.tech * noop
# 2026-03-28
g2g.com freshdesk.com * noop
tvpworld.com tvp.pl * noop
# 2026-03-26
microsoftonline.com msauth.net * noop
# 2024-03-25
# cbs.com
# paramountplus.com
* paramount.com * noop
# 2024-03-25
cbs.com ketchcdn.com * noop
cbs.com ketchjs.com * noop
# 2026-03-21
bellmedia.ca ascendon.tv * noop
bellmedia.ca mparticle.com * noop
g2g.com mastercard.com * noop
g2g.com pipwave.com * noop
z2u.com 126.net * noop
z2u.com 163.com * noop
z2u.com kunluncan.com * noop
z2u.com netease.com * noop
# 2026-03-18
zappos.com stripe.network * noop
# 2026-03-16
cloud.microsoft microsoft.com * noop
# 2026-03-16
# cnbc.com
# eonline.com
* cnbcfm.com * noop
# 2026-03-14
github.com githubusercontent.com * noop
indiatimes.com toiimg.com * noop
indiatimes.com tvid.in * noop
# 2026-03-12
openrouter.ai cardinalcommerce.com * noop
openrouter.ai visa.com * noop
# 2026-03-12
# openrouter.ai
# stripe.com
* stripecdn.com * noop
# 2026-03-08
aliexpress.us aliexpress-media.com * noop
# 2026-03-07
mubi.com mubicdn.net * noop
# 2026-03-06
# barstoolsports.com
# cnn.com
* tiktok.com * noop
# 2026-03-06
barstoolsports.com iframe.ly * noop
barstoolsports.com tiktokv.us * noop
barstoolsports.com ttwstatic.com * noop
# 2026-03-02
# microsoft.com
# cloud.microsoft
* dual-s-msedge.net * noop
# 2026-02-28
thehindu.com dwcdn.net * noop
# 2026-02-19
aznude.com cdn77.org * noop
# 2026-02-16
reddit.com redditstatic.com * noop
# 2026-02-16
# forward2me.com
# roku.com
* recaptcha.net * noop
# 2026-02-14
cryptii.com wierk.net * noop
# 2026-02-11
fiverr.com fiverrcdn.com * noop
fiverr.com px-cdn.net * noop
# 2026-02-11
# microsoft.com
# pockit.com
* azureedge.net * noop
# 2026-02-10
# bfi.org.uk
# yahoo.com
* brightcove.net * noop
# 2026-02-10
bfi.org.uk brightcove.com * noop
forward2me.com bootstrapcdn.com * noop
protondb.com pages.dev * noop
# 2026-02-09
# express.co.uk
# irishstar.com
* inmobi.com * noop
# 2026-02-08
# decodo.com
# tempmail.best
* cloudflare.com * noop
# 2026-02-07
# garmin.com
# sharkninja.com
* cloudinary.com * noop
# 2026-02-06
newsweek.com truthsocial.com * noop
# 2026-02-04
bbc.com bbcverticals.com * noop
# 2026-02-04
# bbc.co.uk
# bbc.com
* bbci.co.uk * noop
# 2026-02-02
ign.com ignimgs.com * noop
microsoft.com azure.net * noop
microsoft.com p-msedge.net * noop
# 2026-02-01
getunbound.ai propelauth.com * noop
openrouter.ai buildwithfern.com * noop
openrouter.ai vercel-dns-013.com * noop
replicate.com replicateassets.com * noop
# 2026-01-25
# molotov.tv
# paramountplus.com
* recurly.com * noop
# 2026-01-24
c-span.org c-spanvideo.org * noop
# 2026-01-22
soundcloud.com sndcdn.com * noop
# 2026-01-07
target.com targetimg1.com * noop
# 2026-01-05
# frisbii-transform.com
# samsara.com
* readme.io * noop
* readmessl.com * noop
# 2026-01-05
# microsoft.com
# sharepoint.com
* office.net * noop
# 2025-12-31
# aznude.com
# discountpowertx.com
* jsdelivr.net * noop
# 2025-12-29
# force.com
# sharepoint.com
* powerbi.com * noop
* windows.net * noop
# 2025-12-29
sharepoint.com spo-msedge.net * noop
# 2025-12-24
disneyplus.com disney-plus.net * noop
# 2025-12-24
# bulletproofbodyguard.com
# criterionchannel.com
* vimeocdn.com * noop
# 2025-12-23
daddylives.top epicplayplay.cfd * noop
# 2025-12-15
# atlassian.net
# bitbucket.org
* atl-paas.net * noop
# 2025-12-07
# nbc.com
# tomthumb.com
* adobedtm.com * noop
# 2025-12-07
bandcamp.com bcbits.com * noop
# 2025-12-01
docplay.com akamaized.net * noop
mailsac.com wpcomstaging.com * noop
# 2025-11-29
molotov.tv privacy-center.org * noop
# 2025-11-22
hulu.com disney-plus.net * noop
# 2025-11-20
# filippo.io
# vogue.in
* youtube-nocookie.com * noop
# 2025-11-17
themirror.com tm-awx.com * noop
# 2025-11-14
# amcplus.com
# brooksbrothers.com
* jquery.com * noop
# 2025-11-14
amcplus.com aspnetcdn.com * noop
# 2025-11-13
doctorpayments.com logixhealth.com * noop
# 2025-11-13
# amexgiftcard.com
# mastercardgiftcard.com
* geoip-js.com * noop
# 2025-11-10
salesforce.com site.com * noop
# 2025-11-06
cysend.com emerchantpay.net * noop
theguardian.com guim.co.uk * noop
# 2025-11-05
# amazon.com
# amazon.de
* ssl-images-amazon.com * noop
# 2025-11-05
# amazon.de
# bankofamerica.com
* arkoselabs.com * noop
# 2025-11-05
# amazon.com
# amazon.de
* media-amazon.com * noop
# 2025-11-05
eneba.com bplslb.com * noop
eneba.com eneba.games * noop
eneba.com payrails.io * noop
joyn.de billwerk.com * noop
joyn.de payments-amazon.com * noop
# 2025-11-04
salesforce-setup.com force.com * noop
# 2025-11-02
# amcplus.com
# privacy.com
* cloudfront.net * noop
# 2025-11-02
# amcplus.com
# nbc.com
* adobe.com * noop
# 2025-11-02
# amcplus.com
# nbc.com
* akamaiedge.net * noop
# 2025-11-02
# amcplus.com
# irvingtexas.com
* unpkg.com * noop
# 2025-11-02
qq.com gtimg.com * noop
qq.com ovscdns.com * noop
spotify.com scdn.co * noop
# 2025-11-01
reddit.com streamable.com * noop
# 2025-10-24
# reddit.com
# spotify.com
* fastly.net * noop
# 2025-10-24
atlassian.net atlassian-dev.net * noop
atlassian.net atlassian.com * noop
spotify.com spotifycdn.com * noop
# 2025-10-15
# reuters.com
# tomthumb.com
* cookielaw.org * noop
# 2025-10-15
netflix.com nflxso.net * noop
# 2025-10-14
apple.com cdn-apple.com * noop
# 2025-10-14
# force.com
# salesforce-setup.com
* salesforce.com * noop
# 2025-10-13
bankofamerica.com bac-assets.com * noop
steamcommunity.com steamstatic.com * noop
# 2025-10-12
canalplus.cz m7cdn.io * noop
pbs.org zencdn.net * noop
rtbf.be gigya.com * noop
# 2025-10-11
cinemember.nl maxx-xs.nl * noop
# 2025-10-10
# fox26houston.com
# fox4news.com
* lura.live * noop
# 2025-10-07
# cnn.com
# huffpost.com
* twitter.com * noop
# 2025-10-07
# cnn.com
# mashable.com
* bsky.app * noop
# 2025-10-07
# cnn.com
# tiktok.com
* tiktokcdn-us.com * noop
# 2025-10-05
yahoo.com yahoodns.net * noop
yahoo.com yimg.com * noop
# 2025-10-03
abc7chicago.com abcotvs.net * noop
abc7chicago.com espncdn.com * noop
# 2025-10-02
# cloud.microsoft
# office.com
* static.microsoft * noop
# 2025-09-18
cfbbike.com shoplightspeed.com * noop
# 2025-09-17
# apnews.com
# thedailybeast.com
* jwpcdn.com * noop
# 2025-09-12
# huffpost.com
# nypost.com
* thecontentserver.com * noop
# 2025-09-08
knowyourmeme.com kym-cdn.com * noop
# 2025-09-07
google.com googleusercontent.com * noop
# 2025-09-06
amazon.com aws.dev * noop
arcee.ai hsforms.net * noop
arcee.ai vercel.app * noop
github.com githubassets.com * noop
# 2025-09-02
# nypost.com
# thedailybeast.com
* jwplayer.com * noop
# 2025-09-02
openrouter.ai ferndocs.com * noop
# 2025-09-01
anthropic.com hexagon-cdn.com * noop
# 2025-08-31
# tljus.com
# together.ai
* website-files.com * noop
# 2025-08-31
# alibabacloud.com
# qwen.ai
* alicdn.com * noop
# 2025-08-31
# discord.com
# nvidia.com
* hcaptcha.com * noop
# 2025-08-31
ebay.com ebayrtm.com * noop
minimax.io hailuo.ai * noop
nousresearch.com privy.systems * noop
parasail.io metronome.com * noop
# 2025-08-28
ebay.com ebaystatic.com * noop
# 2025-08-25
openrouter.ai datadoghq.com * noop
# 2025-08-19
force.com a2z.com * noop
force.com connect.aws * noop
force.com salesforceliveagent.com * noop
force.com sfdcfc.net * noop
# 2025-08-13
# openrouter.ai
# venice.ai
* clerkprod-cloudflare.net * noop
# 2025-08-13
# facebook.com
# llama.com
* fbcdn.net * noop
# 2025-08-13
gpt-oss.com openai.com * noop
# 2025-08-03
huggingface.co hf.space * noop
qwen.ai taobao.com * noop
z.ai cdngslb.com * noop
z.ai chatglm.cn * noop
# 2025-08-01
paypal.com paypalobjects.com * noop
# 2025-07-30
linkedin.com licdn.com * noop
# 2025-07-24
vogue.in condenastdigital.com * noop
# 2025-07-24
# thetease.com
# vogue.in
* instagram.com * noop
# 2025-07-21
paypal.com datadome.co * noop
simkl.com simkl.in * noop
